@import url("/usr/share/gnome-shell/theme/gnome-shell.css");

stage {                                                                         
    font-family: ubuntu, cantarell, sans-serif;
    font-size: 10pt;
    color: white;
}

#panel {
    height: 24px;
    background-color: rgba(0, 0, 0, 0.8);
}
.panel-button {
    -natural-hpadding: 6px;
    -minimum-hpadding: 4px;
    font-weight: bold;
    color: #fff;
    transition-duration: 100;
}
